<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-repo-cache" value="D:\VSCODE\wpf\.nuget\packages" />
    <add key="local-finance-cache" value="D:\VSCODE\Project\Finance\.nuget\packages" />
    <add key="devexpress-local" value="C:\Program Files\DevExpress 24.1\Components\System\Components\Packages" />
    <add key="vs-offline" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>
